APP_NAME=AstraVPN Enterprise
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=astravpn
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=ReplaceThisWithAStrongSecretKey
JWT_ISSUER=astravpn.local
JWT_AUDIENCE=astravpn.local
JWT_EXPIRATION=3600

RATE_LIMIT_WINDOW=60
RATE_LIMIT_MAX=120

OPENVPN_PATH=C:\\Program Files\\OpenVPN\\config
WIREGUARD_PATH=C:\\Program Files\\WireGuard\\configs
